<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>prueba_formu_uno</title>
        <h:outputStylesheet library="css" name="materialize.css" />
    </h:head>
    <h:body>
        <b:form>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <b:column>
                        <b:navBar brand="Brand" brandHref="#" inverse="true">
                            <b:navbarLinks>
                                <b:navLink value="Home" href="#"></b:navLink>
                                <b:navLink value="Link" href="#"></b:navLink>
                                <b:navLink value="Link" href="#"></b:navLink>
                            </b:navbarLinks>
                        </b:navBar>
                        <b:column>
                            <b:inputText value="#{formulario_uno.personales_uno.PApellido}" label="PRIMER APELLIDO" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.SApellido}" label="SEGUNDO APELLIDO" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.nombres}" label="NOMBRE" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.sexo}" label="SEXO" col-lg="3"/>
                        </b:column>
                        <b:column>
                            <b:inputText  value="#{formulario_uno.personales_uno.lugarNac}" label="LUGAR DE NACIMIENTO" col-lg="3"/>
                            <b:datepicker change-month="true" change-year="true"   value="#{formulario_uno.personales_uno.fechaNac}" label="FECHA DE NACIMIENTO" col-lg="3" />
                            <b:inputText  value="#{formulario_uno.personales_uno.edad}" label="EDAD" col-lg="2"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.nacionalidad}" label="NACIONALIDAD" col-lg="3"/>
                        </b:column>
                        <b:column>
                            <b:inputText  value="#{formulario_uno.personales_uno.idDocumento}" label="CARNET DE MINORIDAD O PARTIDA DE NACIMIENTO" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.lugarExpedicion}" label="LUGAR DE EXPEDICION" col-lg="3"/>
                            <b:datepicker change-year="true" change-month="true" value="#{formulario_uno.personales_uno.fechaExpedicion}" label="FECHA DE EXPEDICIÓN" />
                            <b:inputText  value="#{formulario_uno.personales_uno.idiomas}" label="IDIOMAS QUE DOMINA" col-lg="5"/>
                        </b:column>
                        <b:column>
                            <b:inputText  value="#{formulario_uno.personales_uno.domicilio}" label="DOMICILIO" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.telefono}" label="TELEFONO" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.email}" label="EMAIL" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.photo}" label="FOTO" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.estadoCivil}" label="ESTADO CIVIL" col-lg="3"/>                            
                        </b:column>
                        <b:column>
                            <b:inputText  value="#{formulario_uno.personales_uno.numeroHijos}" label="N° HIJOS" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.licencia}" label="LICENCIA" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.viveCon}" label="VIVE CON" col-lg="3"/>
                            <b:inputText  value="#{formulario_uno.personales_uno.nucleoFamiliar}" label="NUCLEO FAMILIAR" col-lg="3"/>                                                     
                        </b:column>
                        <b:commandButton value="guardar" action="#{formulario_uno.control_uno.create(formulario_uno.personales_uno)}"  />
                    </b:column>
                </div>
            </div>
        </div>
            </b:form>
    </h:body>
</html>

