<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>REFERENCIAS</title>
    </h:head>
    <h:body>
        <b:form>
            <b:inputText label="nombre de la referencia" value="#{referencias.reff.nombreReferencia}" />
            <b:inputText label="telefono" value="#{referencias.reff.telefono}"/>
            <b:formGroup>
                <b:selectOneMenu label="usuario" value="#{referencias.data_persona}" colMd="12" required="false"  >
                    <f:selectItem itemLabel="#{referencias.control_personales.findTblDatosPersonales(1).nombres}" itemValue="#{referencias.control_personales.findTblDatosPersonales(1).idDatPerson}" />
                    <f:selectItem itemLabel="#{referencias.control_personales.findTblDatosPersonales(2).nombres}" itemValue="#{referencias.control_personales.findTblDatosPersonales(2).idDatPerson}" />
                    <f:selectItem itemLabel="#{referencias.control_personales.findTblDatosPersonales(3).nombres}" itemValue="#{referencias.control_personales.findTblDatosPersonales(3).idDatPerson} "/>
                    <f:selectItem itemLabel="#{referencias.control_personales.findTblDatosPersonales(4).nombres}" itemValue="#{referencias.control_personales.findTblDatosPersonales(4).idDatPerson}" />
                    <f:selectItem itemLabel="#{referencias.control_personales.findTblDatosPersonales(5).nombres}" itemValue="#{referencias.control_personales.findTblDatosPersonales(5).idDatPerson}" />
                    <f:selectItem itemLabel="#{referencias.control_personales.findTblDatosPersonales(6).nombres}" itemValue="#{referencias.control_personales.findTblDatosPersonales(6).idDatPerson}" />
                </b:selectOneMenu>
                <b:message for="@previous" colMd="2" />                           
            </b:formGroup>
            <b:inputText label="tipo referencia" value="#{referencias.reff.tipo}" />
            <b:commandButton value="Guardar Referencia" look="primary" action="#{referencias.insertar_data_persona()}" style="width:100%" />
        </b:form>
    </h:body>
</html>

