<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Consentimiento</title>
        <h:outputStylesheet library="css" name="materialize.css"/>
    </h:head>

    <h:body>
        <b:form>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <b:column>
                            <h3 class="center">CONSENTIMIENTO INFORMADO</h3>
                        </b:column>
                        <b:column></b:column>
                        <h3>DATOS DE LOS PADRES</h3>

                        <b:column>

                            <b:column>
                                <b:inputText label="YO" col-lg="7"/> 
                                <b:inputText label="de" col-lg="2"/>  
                                <b:label value="años de edad" col-lg="3"/>
                            </b:column>
                            <b:column>                            
                                <b:inputText label="profesion" col-lg="4"/> 
                                <b:inputText label="del domicilio de" col-lg="7"/> 
                            </b:column>
                            <b:column>                            
                                <b:inputText label="portador de su Documento Unico de Identidad Numero°" col-lg="4"/> 
                            </b:column>
                            <b:column>

                                <b:inputText label="y" col-lg="4"/>                           
                                <b:inputText label="años de edad" col-lg="2"/>                      
                                <b:inputText label="profesion" col-lg="12"/> 
                                <b:inputText label="del domicio de" col-lg="12"/>                             
                            </b:column>

                            <b:column>
                                <b:inputText label="portador del documento Unico de Identidad Numero" col-lg="4"/>                             
                            </b:column>

                            <b:column>
                                <b:inputText label="En nuestra calidad de padres y por ende representantes legas del menor" col-lg="6"/>                             
                            </b:column>
                            <b:column>
                                <p>
                                    de generales expresadas en la hoja de inscripción, DECLARAMOS: LIBRE Y <br/>
                                    ESPONTÁNEAMENTE, que autorizamos a que nuestro hijo, preteneza a Cruz <br/>
                                    Roja Salvadoreña, para que forme parte del Cuerpo Filial de <br/> 
                                </p>
                                <b:inputText  col-lg="2" />
                                <p>

                                    y que dentro del mismo realice las actividades físicas, de capacitacíon y <br/>
                                    formación que sean parte del proceso previamente establecido para el cuerpo <br/>
                                    filial en que se ha inscrito.
                                </p>
                            </b:column>
                            <b:column> 
                                <h3> </h3> <h3>FIRMA</h3>
                                <b:inputText  col-lg="3"/> FECHA  <b:inputText   col-lg="3"/>                      
                            </b:column>
                        </b:column>
                    </div>
                </div>
            </div>
        </b:form>
    </h:body>
</html>

