<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="materialize.css" />
        <h:outputScript library="js" name="materialize.js"/>
    </h:head>
    <h:body>
        <b:form>
            <div class="container">
                <div class="row">
                    <div class="col s12"> 
                        
                        <b:inputText label="empresa" value="#{estudia.estu_traba.empresa}" span="2" />
                        <b:inputText label="tipo de trabajo" value="#{estudia.estu_traba.tipoTrabajo}" span="2"/>
                        <b:inputText label="telefono" span="4" value="#{estudia.estu_traba.telefono}"/>
                        <b:inputText label="estudiante" span="4" value="#{estudia.estu_traba.estudiante}"/>
                        <b:inputText label="tipo_estudio" value="#{estudia.estu_traba.tipoEstudio}"/>
                        <b:inputText label="institucion" value="#{estudia.estu_traba.institucion}"/>
                       <b:formGroup>
                           <b:selectOneMenu label="usuario" value="#{estudia.id_personales}" colMd="12" required="false"  >                           
                               <f:selectItems var="ver" value="#{data_personal.control.findTblDatosPersonalesEntities()}" itemValue="#{ver.idDatPerson}" itemLabel="#{ver.nombres}"/>                             
                            </b:selectOneMenu>
                            <b:message for="@previous" colMd="2" />                           
                        </b:formGroup>
                        <b:commandButton value="guardar" action="#{estudia.crear_nexo()}"/>
                    </div>
                </div>
            </div>
        </b:form>
    </h:body>
</html>

