<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
    </h:head>
    <h:body>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <!-- BARARA NAVEGADORA -->
                    <b:navBar brand="Brand" brandHref="#" inverse="true">
                        <b:navbarLinks>
                            <b:navLink value="Home" href="#"></b:navLink>
                            <b:navLink value="Link" href="#"></b:navLink>
                            <b:navLink value="Link" href="#"></b:navLink>
                        </b:navbarLinks>
                    </b:navBar>                   
                    <b:form>
                        <b:inputText value="#{data_personal.datapersonal.PApellido}" label="primer apellido"/>


                        <b:inputText value="#{data_personal.datapersonal.SApellido}" label="segundo apellido"/>


                        <b:inputText value="#{data_personal.datapersonal.nombres}" label="nombre"/>


                        <b:inputText value="#{data_personal.datapersonal.lugarNac}" label="lugar de nacimiento"/>
                        <b:datepicker value="#{data_personal.datapersonal.fechaNac}" label="fecha de nacimiento" change-year="true" changeMonth="true" show-button-panel="true"></b:datepicker>


                        <b:inputText value="#{data_personal.datapersonal.lugarExpedicion}" label="lugar de expecición"/>
                        <b:datepicker value="#{data_personal.datapersonal.fechaExpedicion}" label="fecha de expexición" change-year="true" changeMonth="true" show-button-panel="true"></b:datepicker>


                        <b:inputText value="#{data_personal.datapersonal.idiomas}" label="idiomas"/> <!-- QUEDARÁ VACIO -->


                        <b:inputText value="#{phone.phones.numeroTelefono}" label="telefono"/>





                        <b:inputText value="#{data_personal.datapersonal.nacionalidad}" label="nacionalidad"/>


                        <b:inputText value="#{data_personal.datapersonal.idDocumento}" label="Documento"/>


                        <b:inputText value="#{data_personal.datapersonal.estadoCivil}" label="estado civil"/>


                        <b:inputText value="#{data_personal.datapersonal.numeroHijos}" label="Numero de hijos"/>


                        <b:inputText value="#{data_personal.datapersonal.licencia}" label="licencia"/>


                        <b:inputText value="#{data_personal.datapersonal.viveCon}" label="vive con"/>


                        <b:inputText value="#{data_personal.datapersonal.nucleoFamiliar}" label="nucleo familiar"/>


                        <b:inputText value="#{data_personal.datapersonal.sexo}" label="sexo"/>


                        <b:inputText value="#{data_personal.datapersonal.edad}" label="edad"/>

                        <b:commandButton value="GUARDAR" look="primary" action="#{data_personal.control.create(data_personal.datapersonal)}" style="width:100%" />



                    </b:form>



                </div>
            </div>
        </div>
    </h:body>
</html>

