<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <!-- BARARA NAVEGADORA -->
                    <b:navBar brand="Brand" brandHref="#" inverse="true">
                        <b:navbarLinks>
                            <b:navLink value="Home" href="#"></b:navLink>
                            <b:navLink value="Link" href="#"></b:navLink>
                            <b:navLink value="Link" href="#"></b:navLink>
                        </b:navbarLinks>
                    </b:navBar>   
                    <b:form>
                        <b:inputText label="nombre del padre" value="#{padres.padres.nombre}"/>
                        <b:inputText label="sexo" value="#{padres.padres.sexo}"/>
                        <b:inputText label=" estado (vivo o muerto)" value="#{padres.padres.estado}"/>
                        
                        <b:formGroup>
                            <b:selectOneMenu label="usuario" value="#{padres.id_datapersona}" colMd="12" required="false"  >
                            
                                <f:selectItem itemLabel="#{padres.control_personales.findTblDatosPersonales(1).nombres}" itemValue="#{padres.control_personales.findTblDatosPersonales(1).idDatPerson}" />
                                <f:selectItem itemLabel="#{padres.control_personales.findTblDatosPersonales(2).nombres}" itemValue="#{padres.control_personales.findTblDatosPersonales(2).idDatPerson}" />
                                <f:selectItem itemLabel="#{padres.control_personales.findTblDatosPersonales(3).nombres}" itemValue="#{padres.control_personales.findTblDatosPersonales(3).idDatPerson} "/>
                                <f:selectItem itemLabel="#{padres.control_personales.findTblDatosPersonales(4).nombres}" itemValue="#{padres.control_personales.findTblDatosPersonales(4).idDatPerson}" />
                                <f:selectItem itemLabel="#{padres.control_personales.findTblDatosPersonales(5).nombres}" itemValue="#{padres.control_personales.findTblDatosPersonales(5).idDatPerson}" />
                                <f:selectItem itemLabel="#{padres.control_personales.findTblDatosPersonales(6).nombres}" itemValue="#{padres.control_personales.findTblDatosPersonales(6).idDatPerson}" />
                            </b:selectOneMenu>
                            <b:message for="@previous" colMd="2" />                           
                        </b:formGroup>
                        <b:commandButton value="GUARDAR_PADRE" look="primary" action="#{padres.crear_padres()}" style="width:100%" />
                    </b:form>
                </div>
            </div>
        </div>

    </h:body>
</html>
